<?xml version="1.0" encoding="UTF-8"?>
<!--
  SentinelPulse Windows Agent MSI - WiX Toolset v4

  Expected build inputs:
    -d AgentVersion=2.4.1.0
    -d AgentSemVer=2.4.1
    -d PublishDir=..\publish
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define AgentUpgradeCode = "7D0DE72F-9425-4F9B-93AD-BE3F3E58A1C8" ?>

  <?ifndef AgentVersion ?>
    <?define AgentVersion = "2.4.1.0" ?>
  <?endif ?>
  <?ifndef AgentSemVer ?>
    <?define AgentSemVer = "2.4.1" ?>
  <?endif ?>
  <?ifndef PublishDir ?>
    <?define PublishDir = "..\publish" ?>
  <?endif ?>
  <?ifndef BootstrapApiBaseUrl ?>
    <?define BootstrapApiBaseUrl = "" ?>
  <?endif ?>
  <?ifndef BootstrapEndpointId ?>
    <?define BootstrapEndpointId = "" ?>
  <?endif ?>
  <?ifndef BootstrapEnrollmentToken ?>
    <?define BootstrapEnrollmentToken = "" ?>
  <?endif ?>
  <?ifndef RuntimeConfigPath ?>
    <?define RuntimeConfigPath = "..\\artifacts\\agent-config.generated.json" ?>
  <?endif ?>

  <Package
      Name="SentinelPulse Windows Agent"
      Manufacturer="SentinelPulse Enterprise"
      Version="$(var.AgentVersion)"
      UpgradeCode="$(var.AgentUpgradeCode)"
      Language="1033"
      Scope="perMachine"
      Compressed="yes"
      InstallerVersion="500">

    <SummaryInformation Description="SentinelPulse Windows Endpoint Monitoring Agent $(var.AgentSemVer)" />

    <MajorUpgrade
        DowngradeErrorMessage="A newer version of SentinelPulse Windows Agent is already installed."
        AllowSameVersionUpgrades="no"
        Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPNOREPAIR" Value="no" />
    <Property Id="ARPNOMODIFY" Value="no" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SentinelPulse">
        <Directory Id="AGENTFOLDER" Name="Agent" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="PROGRAMDATAFOLDER" Name="SentinelPulse">
        <Directory Id="CONFIGFOLDER" Name="Agent" />
        <Directory Id="BUFFERFOLDER" Name="Buffer" />
        <Directory Id="LOGFOLDER" Name="Logs" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="SentinelPulse Windows Agent $(var.AgentSemVer)" Level="1">
      <ComponentRef Id="AgentServiceComponent" />
      <ComponentGroupRef Id="AgentPayloadGroup" />
      <ComponentRef Id="ConfigurationDirectoriesComponent" />
      <ComponentRef Id="BufferDirectoryComponent" />
      <ComponentRef Id="LogDirectoryComponent" />
    </Feature>
  </Package>

  <Fragment>
    <Component Id="AgentServiceComponent" Directory="AGENTFOLDER" Guid="*">
      <File
          Id="AgentExecutable"
          Source="$(var.PublishDir)\SentinelPulse.Agent.exe"
          KeyPath="yes"
          Checksum="yes" />

      <ServiceInstall
          Id="SentinelPulseAgentServiceInstall"
          Type="ownProcess"
          Name="SentinelPulseAgent"
          DisplayName="SentinelPulse Windows Agent"
          Description="Collects Windows endpoint health, hardware, performance, process, and event telemetry for SentinelPulse."
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal"
          Vital="yes"
          Interactive="no" />

      <ServiceControl
          Id="SentinelPulseAgentServiceControl"
          Name="SentinelPulseAgent"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />

      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="Version"
          Type="string"
          Value="$(var.AgentSemVer)" />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="InstallPath"
          Type="string"
          Value="[AGENTFOLDER]" />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="BootstrapApiBaseUrl"
          Type="string"
          Value="$(var.BootstrapApiBaseUrl)" />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="BootstrapEndpointId"
          Type="string"
          Value="$(var.BootstrapEndpointId)" />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="BootstrapEnrollmentToken"
          Type="string"
          Value="$(var.BootstrapEnrollmentToken)" />
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="ConfigurationDirectoriesComponent" Directory="CONFIGFOLDER" Guid="*">
      <CreateFolder />
      <File Id="AgentRuntimeConfig" Source="$(var.RuntimeConfigPath)" KeyPath="yes" />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="ConfigurationDirectory"
          Type="string"
          Value="[CONFIGFOLDER]" />
      <RemoveFolder Id="RemoveConfigurationDirectory" On="uninstall" />
    </Component>

    <Component Id="BufferDirectoryComponent" Directory="BUFFERFOLDER" Guid="*">
      <CreateFolder />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="BufferDirectory"
          Type="string"
          Value="[BUFFERFOLDER]"
          KeyPath="yes" />
      <RemoveFolder Id="RemoveBufferDirectory" On="uninstall" />
    </Component>

    <Component Id="LogDirectoryComponent" Directory="LOGFOLDER" Guid="*">
      <CreateFolder />
      <RegistryValue
          Root="HKLM"
          Key="Software\SentinelPulse\Agent"
          Name="LogDirectory"
          Type="string"
          Value="[LOGFOLDER]"
          KeyPath="yes" />
      <RemoveFolder Id="RemoveLogDirectory" On="uninstall" />
    </Component>
  </Fragment>

</Wix>
